apiVersion: apps/v1
kind: Deployment
metadata:
  name: api
spec:
  template:
    spec:
      serviceAccountName: default
      containers:
        - name: runner-manager
          image: runner-manager
          envFrom:
            - secretRef:
                name: runner-manager-secrets
          env:
            - name: REDIS_OM_URL
              valueFrom:
                configMapKeyRef:
                  key: REDIS_OM_URL
                  name: redis-config
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8000
              name: http
          resources:
            limits:
              cpu: 250m
              memory: 1Gi
            requests:
              cpu: 250m
              memory: 1Gi
          livenessProbe:
            failureThreshold: 3
            httpGet:
              path: /_health/
              port: http
            initialDelaySeconds: 5
            periodSeconds: 10
            successThreshold: 1
            timeoutSeconds: 5
          readinessProbe:
            failureThreshold: 3
            httpGet:
              path: /_health
              port: http
            initialDelaySeconds: 5
            periodSeconds: 10
            successThreshold: 1
            timeoutSeconds: 5
          securityContext: {}
