---
version: 2
registries:
  dockerhub: # Define access for a private registry
    type: docker-registry
    url: registry.hub.docker.com
    username: ${{ secrets.DOCKERHUB_LOGIN }}
    password: ${{ secrets.DOCKERHUB_PASSWORD }}
updates:
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: weekly
    groups:
      actions:
        patterns:
          - "*"
        update-types:
          - patch
          - minor
  - package-ecosystem: docker
    registries:
      - dockerhub
    directories:
      - /
      - manifests/base/runner-manager/redis
    schedule:
      interval: weekly
    groups:
      docker:
        patterns:
          - "*"
        update-types:
          - patch
          - minor
  - package-ecosystem: pip
    directory: /
    schedule:
      interval: weekly

