[tool.poetry]
name = "runner-manager"
version = "1.0.0"
description = ""
authors = ["Platform Engineering <platform.engineering@scality.com>"]
license = "Apache"
readme = "README.md"
packages = [{ include = "runner_manager" }]

[tool.poetry.dependencies]
python = "^3.11"
fastapi = "^0.101.1"
uvicorn = { extras = ["standard"], version = "^0.23.2" }
pydantic = ">=1.10.2,<2.0"
redis-om = "^0.2.1"
githubkit = "^0.10.6"
rq = "^1.15.1"
pyyaml = "^6.0.1"
redis = "^4.6.0"
docker = "^6.1.3"
google-cloud-compute = "^1.13.0"

[tool.poetry.group.docs]
optional = true

[tool.poetry.group.docs.dependencies]
mkdocs-material = "^9.1.21"
mkdocs = "^1.4.2"

[tool.poetry.group.dev.dependencies]
connexion = "^2.14.2"
pytest = "^7.4.0"
pytest-cov = "^4.0.0"
hypothesis = "^6.82.3"
pyright = "^1.1.321"
black = "^23.7.0"
isort = "^5.12.0"
ruff = "^0.0.284"
yamllint = "^1.32.0"
types-redis = "^4.6.0.3"


[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.pytest.ini_options]
addopts = "--cov=runner_manager --cov-report=xml"
