[tool.poetry]
name = "runner-manager"
version = "1.0.0"
description = ""
authors = ["Platform Engineering <platform.engineering@scality.com>"]
license = "Apache"
readme = "README.md"
packages = [{ include = "runner_manager" }]
include = ["pyproject.toml", "README.md", "LICENSE", "images/**/*"]

[tool.poetry.dependencies]
python = "^3.11"
fastapi = "^0.104.0"
uvicorn = { extras = ["standard"], version = "^0.23.2" }
pydantic = ">=1.10.2,<2.0"
redis-om = "^0.2.1"
rq = "^1.15.1"
pyyaml = "^6.0.1"
redis = "^4.6.0"
docker = "^6.1.3"
google-cloud-compute = "^1.14.1"
boto3 = "^1.28.58"
botocore = "^1.31.67"
boto3-stubs = { extras = ["ec2"], version = "^1.28.67" }
githubkit = { git = "https://github.com/yanyongyu/githubkit", rev = "a4275ac3d3babd64061f3693353db740e6a8e892" }
rq-scheduler = "^0.13.1"


[tool.poetry.group.docs]
optional = true

[tool.poetry.group.docs.dependencies]
mkdocs-material = "^9.4.4"
mkdocs = "^1.5.3"

[tool.poetry.group.dev.dependencies]
connexion = "^2.14.2"
pytest = "^7.4.2"
pytest-cov = "^4.0.0"
hypothesis = "^6.87.3"
pyright = "^1.1.330"
black = "^23.9.1"
isort = "^5.12.0"
ruff = "^0.1.0"
yamllint = "^1.32.0"
types-redis = "^4.6.0.7"
ddtrace = "^2.1.1"


[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.pytest.ini_options]
addopts = "--disable-warnings --cov=runner_manager --cov-report=xml --ddtrace"

# Add poetry scripts
[tool.poetry.scripts]
runner-manager = "runner_manager.main:main"
scheduler = "runner_manager.scripts.scheduler:main"
