[tool.poetry]
name = "openstack-actions-runner"
version = "0.2.0"
description = "Handle self-hosted runners for GitHub actions with Openstack"
authors = ["Release Engineering <release.engineering@scality.com>"]
packages = [
    { include = "runners_manager", from = "srcs" },
    { include = "settings", from = "srcs" },
    { include = "web", from = "srcs" },
]

[tool.poetry.dependencies]
python = "^3.9"
fastapi = "0.68.1"
uvicorn = "^0.17.6"
python-novaclient = "17.4.0"
python-neutronclient = "7.3.0"
keystoneauth1 = "4.3.1"
requests = "2.25.1"
Jinja2 = "2.11.3"
marshmallow = "3.12.1"
wheel = "0.36.2"
redis = "3.5.3"
prometheus-client = "0.12.0"
python-multipart = "0.0.5"
fastapi-utils = "^0.2.1"
python-glanceclient = "^3.6.0"
google-cloud-compute = "^1.3.0"
MarkupSafe = "2.0.1"
aiofiles = "^0.8.0"

[tool.poetry.dev-dependencies]
mock = "4.0.3"
flake8 = "3.9.2"
fakeredis = "1.10.1"
pytest = "^6.2.5"
docker-compose = "^1.29.2"
pytest-cov = "^3.0.0"
pre-commit = "^2.19.0"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
