[tool.poetry]
name = "runner-manager"
version = "1.0.0"
description = ""
authors = ["Platform Engineering <platform.engineering@scality.com>"]
license = "Apache"
readme = "README.md"
packages = [{ include = "runner_manager" }]

[tool.poetry.dependencies]
python = "^3.11"
fastapi = "^0.100.1"
uvicorn = { extras = ["standard"], version = "^0.23.2" }
pydantic = ">=1.10.2,<2.0"
redis-om = "^0.1.3"
githubkit = "^0.10.6"
rq = "^1.15.1"
pyyaml = "^6.0.1"
redis = "^4.6.0"

[tool.poetry.group.docs.dependencies]
mkdocs-material = "^9.1.19"


[tool.poetry.group.dev.dependencies]
connexion = "^2.14.2"
pytest = "^7.4.0"
hypothesis = "^6.82.0"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.pyright]
include = ["runner_manager"]
exclude = ["**/__pycache__", "__pypackages__", "**/node_modules", "./dist"]
venv = ".venv"
venvPath = "."
stubPath = "./typings"
reportMissingImports = false
reportMissingModuleSource = false
typeCheckingMode = "basic"
