[tool.poetry]
name = "runner-manager"
version = "1.0.0"
description = ""
authors = ["Platform Engineering <platform.engineering@scality.com>"]
license = "Apache"
readme = "README.md"
packages = [{ include = "runner_manager" }]
include = ["pyproject.toml", "README.md", "LICENSE", "images/**/*"]

[tool.poetry.dependencies]
python = "^3.11"
fastapi = "^0.108.0"
uvicorn = { extras = ["standard"], version = "^0.25.0" }
pydantic = ">=1.10.2,<2.0"
redis-om = "^0.2.1"
rq = "^1.15.1"
pyyaml = "^6.0.1"
redis = "^4.6.0"
docker = "^7.0.0"
google-cloud-compute = "^1.15.0"
boto3 = "^1.28.85"
botocore = "^1.31.85"
boto3-stubs = { extras = ["ec2"], version = "^1.34.14" }
githubkit = { git = "https://github.com/yanyongyu/githubkit", rev = "a4275ac3d3babd64061f3693353db740e6a8e892" }
rq-scheduler = "^0.13.1"


[tool.poetry.group.docs]
optional = true

[tool.poetry.group.docs.dependencies]
mkdocs-material = "^9.5.3"
mkdocs = "^1.5.3"

[tool.poetry.group.dev.dependencies]
connexion = "^3.0.5"
pytest = "^7.4.4"
pytest-cov = "^4.0.0"
hypothesis = "^6.92.5"
pyright = "^1.1.345"
black = "^23.12.1"
isort = "^5.13.2"
ruff = "^0.1.11"
yamllint = "^1.33.0"
types-redis = "^4.6.0.20240106"


[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.pytest.ini_options]
addopts = "--disable-warnings --cov=runner_manager --cov-report=xml"

# Add poetry scripts
[tool.poetry.scripts]
runner-manager = "runner_manager.main:main"
scheduler = "runner_manager.scripts.scheduler:main"
