---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

images:
  - name: runner-manager
    newName: ghcr.io/scality/runner-manager

configMapGenerator:
  - name: config
    files:
      - runner-manager.yaml
  - name: env
    envs:
      - config.env

secretGenerator:
  - name: env
    envs:
      - secrets.env
  - name: secrets


resources:
  - redis
  - main
  - worker
  - scheduler
