---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

images:
  - name: runner-manager
    newName: ghcr.io/scality/runner-manager

configMapGenerator:
  - name: redis-config
    envs:
      - redis-config.env

secretGenerator:
  - name: runner-manager-secrets
    envs:
      - secrets.env

resources:
  - main
  - worker
  - scheduler
