apiVersion: apps/v1
kind: Deployment
metadata:
  name: scheduler
spec:
  template:
    spec:
      serviceAccountName: default
      containers:
        - command: [scheduler]
          envFrom:
            - secretRef:
                name: env
            - configMapRef:
                name: redis-config
            - configMapRef:
                name: env
          env:
            - name: REDIS_OM_URL
              value: redis://$(REDIS_HOST):$(REDIS_PORT)
          volumeMounts:
            - mountPath: /app/config
              name: config
          image: runner-manager
          imagePullPolicy: IfNotPresent
          name: runner-manager
          resources:
            limits:
              cpu: 100m
              memory: 256Mi
            requests:
              cpu: 100m
              memory: 256Mi
          securityContext: {}
      volumes:
        - name: config
          configMap:
            name: config
