apiVersion: apps/v1
kind: Deployment
metadata:
  name: runner-manager-worker
spec:
  template:
    spec:
      serviceAccountName: default
      containers:
        - args:
            - worker
            - -c
            - runner_manager.jobs.settings
          command:
            - rq
          env:
            - name: REDIS_OM_URL
              valueFrom:
                configMapKeyRef:
                  key: REDIS_OM_URL
                  name: redis-config
          image: runner-manager
          imagePullPolicy: IfNotPresent
          name: runner-manager
          ports:
            - containerPort: 80
              name: http
          resources:
            limits:
              cpu: 250m
              memory: 1Gi
            requests:
              cpu: 250m
              memory: 1Gi
          securityContext: {}
