---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: redis
spec:
  serviceName: redis
  replicas: 1
  selector:
    matchLabels: {}
  template:
    metadata: {}
    spec:
      securityContext:
        fsGroup: 1001
      containers:
      - name: redis
        image: "redis:6.0.20"
        ports:
        - containerPort: 6379
        env:
          - name: REDIS_PASSWORD
            valueFrom:
              secretKeyRef:
                key: REDIS_PASSWORD
                name: redis-secrets
        volumeMounts:
        - name: redis-data
          mountPath: /bitnami/redis/data
  volumeClaimTemplates:
  - metadata:
      name: redis-data
    spec:
      accessModes:
      - ReadWriteOnce
      resources:
        requests:
          storage: 8Gi
---
apiVersion: v1
kind: Service
metadata:
  name: redis
spec:
  selector: {}
  ports:
    - protocol: TCP
      port: 6379
      targetPort: 6379
