name: Docker build

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

permissions:
  contents: read

jobs:
  docker-build:
    permissions:
      contents: read
      packages: write
    uses: scality/workflows/.github/workflows/docker-build.yaml@v2
    with:
      name: runner-manager
      namespace: ${{ github.repository_owner }}
      tag: ${{ github.ref_name == 'main' && 'latest' || github.sha }}
      build-args: |
        VERSION=${{ github.ref_name }}
