---
name: tests

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

permissions:
  contents: read

jobs:
  test:
    name: ${{ matrix.test.name }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        test:
          - name: unit
            path: tests/unit
          - name: api
            path: tests/api

    env:
      REDIS_OM_URL: redis://localhost:6379/0
      GITHUB_BASE_URL: http://localhost:4010
    steps:
      - uses: actions/checkout@v3
      - name: Boot compose services
        run: docker compose --profile tests up --build --detach
      - run: pipx install poetry
      - uses: actions/setup-python@v4
        with:
          python-version: 3.11
          cache: poetry
      - run: poetry install
      - name: Run tests
        run: poetry run pytest ${{ matrix.test.path }}
        env:
          GITHUB_TOKEN: "test"
      - name: Upload coverage
        uses: codecov/codecov-action@v3
        with:
          flags: ${{ matrix.test.name }}
          name: ${{ matrix.test.name }}
      - name: Dump logs
        run: docker compose --profile tests logs
        if: always()
