---
name: tests

on:
  pull_request:
    branches:
    - main

env:
  POETRY_VERSION: '1.3.2'
jobs:

  helm:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v3
    - name: Set up Helm
      uses: azure/setup-helm@v1
      with:
        version: v2.17.0
    - name: Run Helm lint
      run: helm lint charts/runner-manager

  flake8:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v3
    - name: Install Poetry
      run: |
        pip install poetry==${POETRY_VERSION}
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.9'
        cache: 'poetry'
    - name: Install dependencies
      run: |
        poetry install --no-interaction --no-ansi --no-root
    - name: Run flake8
      run: poetry run flake8

  tests:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v3
    - name: Install Poetry
      run: |
        pip install poetry==${POETRY_VERSION}
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.9'
        cache: 'poetry'
    - name: Install all dependencies
      run: |
        poetry install --no-interaction --no-ansi --no-root
    - name: Run tests
      run: poetry run pytest --cov=. --cov-report=xml
    - name: Upload test coverage
      uses: codecov/codecov-action@v3
