---
name: trivy

on:
  workflow_call:
    inputs:
      image-ref:
        required: true
        type: string

jobs:
  trivy:
    name: Trivy Vulnerability Scan for Code
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Aqua Security Trivy Scan
        uses: aquasecurity/trivy-action@master
        with:
          scan-type: 'fs'
          security-checks: 'vuln,secret,config'
          ignore-unfixed: true
          format: 'sarif'
          output: 'trivy-results.sarif'

      - name: Upload Trivy scan results to GitHub Security tab
        uses: github/codeql-action/upload-sarif@v2
        with:
          sarif_file: 'trivy-results.sarif'
          category: 'code'

      - name: Image Scan
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: ${{ inputs.image-ref }} #'ghcr.io/${{ github.repository }}:${{ github.sha }}'
          format: 'sarif'
          output: 'trivy-image-results.sarif'
          #exit-code: '1'
          ignore-unfixed: true
          vuln-type: 'os,library'


      - name: Upload Trivy Image scan results to GitHub Security tab
        uses: github/codeql-action/upload-sarif@v2
        with:
          sarif_file: 'trivy-image-results.sarif'
          category: 'image'
      
